.dialog {
  width: 300px;
  margin: 25vh auto 0;

  &__title {
    margin: 0;
    text-align: center;
  }

  &__row {
    margin: 20px 0;
  }

  &__button {
    text-align: center;

    button {
      border: 0;
      background: 0;
      padding: 0;
      color: $color;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        opacity: 0.75;
      }
    }
  }
}
