.form {
  min-width: 1000px;

  &__row {
    margin: 5px 0 25px;

    &__label {
      display: block;
      margin-bottom: 7px;
      font-weight: 500;

      svg {
        margin-left: 5px;

        path {
          fill: $black;
        }

        &.edit {
          path {
            fill: $red;
          }
        }
      }

      &__reset {
        margin-left: 5px;
        padding: 0;
        border: 0;
        background: transparent;
        cursor: pointer;
        vertical-align: middle;

        svg {
          margin-left: 0;
          display: block;
        }

        &:hover svg.edit path {
          fill: $black;
        }
      }
    }

    &__hint {
      margin-top: 9px;
      color: $grey;
      font-size: 14px;
      font-weight: 500;
    }
  }
}
