.form {
  min-width: 1000px;

  &__row {
    margin: 5px 0 25px;

    &__label {
      display: block;
      margin-bottom: 7px;
      font-weight: 500;

      svg {
        margin-left: 5px;

        path {
          fill: $black;
        }

        &.edit {
          path {
            fill: $red;
          }
        }
      }
    }

    &__hint {
      margin-top: 9px;
      color: $grey;
      font-size: 14px;
      font-weight: 500;
    }
  }
}
