.form {
  background-color: white;

  &__row {
    margin: 5px 0 15px -10px;
    padding-left: 10px;

    &--dirty {
      padding-left: 7px;
      border-left: 3px solid $blue;
    }

    &--locked {
      border-left-color: $red;
    }
  }

  &__line {
    border-top: 1px solid #aaa;
    margin: 15px 0;
  }

  &__button {
    display: inline-block;
    box-sizing: border-box;
    border: 0;
    border-radius: $radius;
    padding: 7px 15px;
    background-color: #eee;
    cursor: pointer;

    &:hover {
      background-color: darken(#eee, 7);
    }

    &--warning {
      background-color: #ffc0c0;

      &:hover {
        background-color: darken(#ffc0c0, 7);
      }
    }
  }

  &__array {
    border: 1px solid #ddd;
    border-radius: $radius;

    &__bar {
      background-color: #eee;
      padding: 10px 20px;
      display: flex;
      align-items: center;

      &__button {
        cursor: pointer;
        margin-right: 10px;

        &:hover {
          color: #999;
        }

        &--active {
          text-decoration: none;
          font-weight: bold;
        }
      }
    }

    &__content {
      padding: 15px 20px 10px 20px;
    }
  }

  &__error {
    color: red;
  }
}
