// https://github.com/cibernox/ember-power-select/blob/master/app/styles/ember-power-select/variables.scss
$ember-power-select-default-border-radius: $radius;
$ember-power-select-border-color: #ddd;
$ember-power-select-focus-border-color: black;
$ember-power-select-highlighted-background: black;

.ember-power-select-trigger {
  outline: 0;
  padding: 5px;
  font-family: monospace;
  font-size: 16px;
}

.input {
  &__label {
    display: flex;
    margin-bottom: 5px;
    margin-right: 5px;
  }

  &__string,
  &__text,
  &__number,
  &__date,
  &__select {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: $radius;
    padding: 7px 10px;
    font-family: monospace;
    font-size: 16px;
    resize: vertical;

    &:focus {
      border-color: black;
      outline: 0;
    }
  }

  &__text {
    min-height: 50px;
  }

  &__select {
    width: inherit;
    display: inline-block;
    padding-right: 30px;
    -webkit-appearance: none;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' height='10px' width='20px'%3E%3Ctext x='0' y='10' fill='gray'%3E%E2%96%BE%3C/text%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 1.2em;
    background-position: right center;
    background-clip: border-box;
  }

  &__well {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #eee;
    border-radius: $radius;
    background-color: #eee;
    padding: 5px;
    font-family: monospace;
    font-size: 16px;
    color: #333;
  }

  &__file {
    p {
      margin: 5px 0;

      span {
        color: #999;
      }

      a {
        color: $blue;
      }
    }

    img,
    audio,
    video,
    iframe {
      display: block;
      margin: 5px 0;
      max-height: 300px;
      min-width: 600px;
      object-fit: contain;
      background-color: black;
      border-radius: $radius;
      border: 0;
    }
  }

  &__hint {
    margin-top: 5px;
    color: #999;
    font-size: 14px;
  }
}
