.modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0 0 0 / 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  min-width: 500px;
  max-height: 95vh;
  box-sizing: border-box;
  overflow: scroll;
  padding: 50px;
  background-color: #fafafa;
  border-radius: $radius;
  border: 1px solid $black;

  &__title {
    margin: 0 0 25px;
  }

  &__preview {
    img,
    audio,
    video,
    iframe {
      display: block;
      width: 100%;
      min-width: 500px;
      border-radius: $radius;
      border: 0;
    }

    img,
    video,
    iframe {
      min-height: 200px;
      object-fit: contain;
      background-color: $black;
    }

    iframe {
      min-width: 700px;
      min-height: 500px;
    }
  }
}
