.nav {
  background-color: #ddd;

  &__wrapper {
    margin: 0 auto;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
  }

  &__list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;

    &__title {
      color: black;
      font-weight: bold;

      a {
        &:hover {
          text-decoration: none;
          color: #333;
        }
      }
    }

    &__item {
      color: black;
      margin-left: 10px;

      a,
      button {
        border: 0;
        padding: 0;
        background: 0;
        cursor: pointer;

        &:hover {
          text-decoration: none;
          color: #333;
        }
      }
    }
  }
}
