.nav {
  padding: 50px;
  background-color: $color;
  color: $shade1;

  &__title {
    font-size: 24px;
    font-weight: 500;

    a:hover {
      opacity: 0.75;
      text-decoration: none;
    }
  }

  &__menu {
    list-style: none;
    padding: 0;
    margin: 50px 0 0;

    &__head {
      opacity: 0.5;
      font-size: 12px;
      margin-bottom: 5px;
    }

    &__item {
      display: block;
      padding: 5px 0;
      margin: 0;
      border: 0;
      background: 0;
      font-size: 16px;
      color: inherit;
      cursor: pointer;

      &:hover {
        opacity: 0.75;
        text-decoration: none;
      }

      &.active {
        opacity: 1;
        background-color: rgba(255, 255, 255, 0.15);
        border-radius: $radius;
        margin: 0 -15px 0;
        padding: 5px 15px;
      }
    }
  }
}
