.nav {
  background-color: #ddd;

  &__wrapper {
    margin: 0 auto;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
  }

  &__list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;

    &__title {
      color: black;
      font-weight: bold;
    }

    &__item {
      color: black;
      margin-left: 10px;
    }
  }
}
