.sub-nav {
  margin: 0 0 20px 0;
  padding: 0 0 5px 0;
  list-style: none;
  display: flex;
  border-bottom: 1px solid #aaa;

  &__item {
    margin-right: 10px;

    a {
      &:hover {
        text-decoration: none;
        color: #666;
      }

      &.active {
        font-weight: bold;
      }
    }
  }
}
