.table {
  width: 100%;
  border-collapse: collapse;

  thead {
    th {
      text-align: left;
      padding: 6px 10px;
      border: 1px solid #999;
      background-color: #eee;
    }
  }

  tbody {
    td {
      border: 1px solid #999;
      padding: 6px 10px;

      a {
        color: $blue;
      }

      pre {
        margin: 0;
        padding: 2px 5px;
        max-width: 1000px;
        max-height: 250px;
        overflow: scroll;
        border: none;
        cursor: pointer;
        background-color: #eee;

        &:hover {
          background-color: #ddd;
          border-radius: $radius;
        }
      }
    }
  }
}
