.table {
  width: 100%;
  border-collapse: collapse;

  thead {
    th {
      text-align: left;
      padding: 6px 10px;
      border: 1px solid #999;
      background-color: #eee;
    }
  }

  tbody {
    td {
      border: 1px solid #999;
      padding: 6px 10px;

      button {
        border: 1px solid #999;
        border-radius: 3px;
        padding: 3px 6px;
        background-color: #eee;
        line-height: 1;
      }

      pre {
        margin: 0;
        max-width: 1000px;
        max-height: 250px;
        overflow: scroll;
        border: none;
      }
    }
  }
}
