@import 'normalize';

$border-radius: 2px;

body {
  background-color: #fefefe;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@import 'blocks/content';
@import 'blocks/dialog';
@import 'blocks/filters';
@import 'blocks/form';
@import 'blocks/input';
@import 'blocks/nav';
@import 'blocks/sub-nav';
@import 'blocks/table';
@import 'blocks/toolbar';

@import 'ember-power-select';
