@import "normalize";

body {
  background-color: #fefefe;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@import "blocks/content";
@import "blocks/dialog";
@import "blocks/form";
@import "blocks/nav";
@import "blocks/subnav";
@import "blocks/table";

@import "ember-power-select";
