<div class="modal">
  <h2 class="modal__title">
    {{or @data.title "String"}}
  </h2>

  <Controls::Text @id="value" @value={{@data.value}} />

  <div class="toolbar">
    <div class="toolbar__group">
      <button type="button" {{on "click" @dismiss}}>
        Close
      </button>
    </div>
  </div>
</div>