{{#if @label}}
  <label class="input__label">
    {{@label}}
  </label>
{{/if}}

<Input @type="checkbox"
       @checked={{@value}}
       @disabled={{@disabled}}/>

{{#if @hint}}
  <div class="input__hint">
    {{@hint}}
  </div>
{{/if}}