<div class="form__row">
  <div class="form__head">
    <label class="form__head__label">
      {{this.label}}
    </label>
  </div>

  <Input @type="checkbox"
         @checked={{this.value}}
         @disabled={{this.disabled}}/>

  {{#if this.hint}}
    <div class="form__hint">
      {{this.hint}}
    </div>
  {{/if}}
</div>