<label class="input__label">
  {{this.label}}
</label>

<Input @type="checkbox"
       @checked={{this.value}}
       @disabled={{this.disabled}}/>

{{#if this.hint}}
  <div class="input__hint">
    {{this.hint}}
  </div>
{{/if}}