<div class="form__row">
  <div class="form__head">
    <label class="form__head__label">
      {{this.label}}
    </label>
  </div>

  {{input
    value=this.value
    disabled=this.disabled
    placeholder=this.placeholder
    class="form__string"
    type=(if this.redacted "password" "text")}}

  {{#if this.hint}}
    <div class="form__hint">
      {{this.hint}}
    </div>
  {{/if}}
</div>