<div class="form__row">
  <div class="form__head">
    <label class="form__head__label">
      {{this.label}}
    </label>
  </div>

  {{textarea
    value=this.value
    disabled=this.disabled
    placeholder=this.placeholder
    autoresize=true
    class="form__text"}}

  {{#if this.hint}}
    <div class="form__hint">
      {{this.hint}}
    </div>
  {{/if}}
</div>