<div class="form__row">
  <div class="form__head">
    <label class="form__head__label">{{label}}</label>
  </div>

  <div class="form__well">
    {{value}}
  </div>

  {{#if hint}}
    <div class="form__hint">
      {{hint}}
    </div>
  {{/if}}
</div>