{{#if @label}}
  <label class="input__label">
    {{@label}}
  </label>
{{/if}}

<div class="input__well">
  {{@value}}
</div>

{{#if @hint}}
  <div class="input__hint">
    {{@hint}}
  </div>
{{/if}}