<h1>
  {{this.model.title}}
</h1>

<ul class="sub-nav">
  <li class="sub-nav__item">
    <LinkTo @route="table.index">
      List
    </LinkTo>
  </li>

  {{#unless this.model.listOnly}}
    <li class="sub-nav__item">
      <LinkTo @route="table.new">
        New
      </LinkTo>
    </li>
  {{/unless}}
</ul>

{{outlet}}