<h1 class="content__title">
  <LinkTo @route="table.index">
    {{this.model.title}}
  </LinkTo>

  {{#unless this.model.listOnly}}
    <LinkTo class="content__title__button" @route="table.new">
      New
    </LinkTo>
  {{/unless}}
</h1>

{{outlet}}