<h1>
  {{this.model.title}}
</h1>

<ul class="sub-nav">
  <li class="sub-nav__item">
    <LinkTo @route="table.index">
      List
    </LinkTo>
  </li>

  <li class="sub-nav__item">
    <LinkTo @route="table.new">
      New
    </LinkTo>
  </li>
</ul>

{{outlet}}